<footer id="footer" class="main-content-wrap">
	<div class="foot_class">
		
		<img src="https://projecteuler.net/profile/prashantsinha94.png" alt="Prashant's Project Euler Progress">
		
	    
	    <p>Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.</p>
	    
    </div>
</footer>
